<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adivinhe o Numero</title>
</head>
<body>
    <h1>Disciplina de Programação Avançada</h1>
    <p>Exercicio 02</p>
    <h1>{{variavel}}</h1>
    <form action="{{url_for('index')}}" method="post">
    <from>
        <label for="">Informe um número</label><br>
        <input type="text" numero=""numero placeholder="insira um número">
        <button type="input" class="btn btn-primary">Enviar</button>
    </from>
   <!-- <input type="text">
    <br>
    <h1>Adivinhe o Número correto</h1>  
    <h4>Informe um número</h4> -->
</html>